<html>
  <head>
    <title>Console 1 Web App</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      h1 {
        color: #333;
      }
    </style>
  </head>
  <body>
    <header style="background-color: #f8f9fa; padding: 12px; text-align: center; border-bottom: 1px solid #e7e7e7;">
      <h1>Console 1 Web App</h1>
    </header>
    <main>
      {% block content %}
      <!-- Bu blok, diğer şablonlar tarafından genişletilecek -->
      {% endblock %}
    </main>
  </body>
</html>